.btn{
    background-color: rgba(91, 0, 247, 1);
    border-radius: 5px;
    border: 2px solid rgba(91, 0, 247, 1);
    border-bottom: 4px solid rgb(73, 8, 185);
    display: inline-block;
    font-size: 1.1rem;
    padding: 15px 30px;
    color: #fff;
    width: 200px;
    cursor: pointer;
    outline: transparent;
    font-weight: 600;
    text-transform: uppercase;
}

