
.dashboard{
    height: 100vh;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard h1{
    font-size: 4rem;
}